body {
  font-family: Arial, sans-serif;
  margin: 1;
  background: linear-gradient(to top, #fff5fc, #c7ffff);
  color: #640000;
  font-size: 16px;
  width: 100%;

}

.container {
  text-align: center;
  padding: 200px;
  display: grid;
}

h1 {
  color: #640000;
  margin: 30px;
  font-size: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
}

.card {
  background: #edc0ff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.904);
  width: 300px;
  padding: 25px;
  text-align: right;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: scale(1.05);
  background-color: #dddbff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card:active {
  transform: scale(0.97);
  background-color: #bbdefb;
}
`
.card img {
  width: 10px;
  height: 10px;
  margin: 10px;
}

.card h3 {
  color: #640000;
  font-size: 16px;
  margin: 10px;
}
.card h4 {
  color: #640000;
  font-size: 14px;
  margin: 10px;
}
.card h2 {
  color: #640000;
  font-size: 18px;
  margin: 10px;
}

.card p {
  font-size: 13px;
  color: #660000;
}